.page {
}

.top {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 40px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.welcome {
    color: var(--white-color);
}

.welcome h1 {
    margin: 0;
    font-size: 48px;
}

.welcome span {
    font-size: 36px;
    font-weight: 300;
    display: block;
}

.menu {
    appearance: none;
    width: 42px;
    height: 42px;
    background-image: url('data:image/svg+xml,%3Csvg%20fill%3D%22%23fff%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20%20viewBox%3D%220%200%2050%2050%22%20width%3D%2250px%22%20height%3D%2250px%22%3E%3Cpath%20d%3D%22M%200%209%20L%200%2011%20L%2050%2011%20L%2050%209%20Z%20M%200%2024%20L%200%2026%20L%2050%2026%20L%2050%2024%20Z%20M%200%2039%20L%200%2041%20L%2050%2041%20L%2050%2039%20Z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: none;
    cursor: pointer;
    opacity: 1;
    transition: 300ms opacity;
}

.menu:hover {
    opacity: .8;
}

.content {
    padding: 60px 50px;
    overflow: hidden;
}

.heading {
    color: var(--white-color);
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heading h1,
.heading h2,
.heading h3 {
    margin: 0;
}

.heading h1 {
    font-size: 48px;
}

.heading h2 {
    font-size: 36px;
}

.heading h3 {
    font-size: 24px;
}

.seeAll {
    border: none;
    appearance: none;
    background: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    color: var(--lighter-primary-color);
    transition: 300ms opacity;
    font-size: 18px;
    font-weight: 500;
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.seeAll:after {
    content: '';
    width: 20px;
    height: 20px;
    background-image: url('data:image/svg+xml,%3Csvg%20fill%3D%22%23ad91ef%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20%20viewBox%3D%220%200%2030%2030%22%20width%3D%2230px%22%20height%3D%2230px%22%3E%3Cpath%20d%3D%22M%2022.990234%208.9902344%20A%201.0001%201.0001%200%200%200%2022.292969%2010.707031%20L%2025.585938%2014%20L%202%2014%20A%201.0001%201.0001%200%201%200%202%2016%20L%2025.585938%2016%20L%2022.292969%2019.292969%20A%201.0001%201.0001%200%201%200%2023.707031%2020.707031%20L%2028.619141%2015.794922%20A%201.0001%201.0001%200%200%200%2028.623047%2014.207031%20A%201.0001%201.0001%200%200%200%2028.617188%2014.203125%20L%2023.707031%209.2929688%20A%201.0001%201.0001%200%200%200%2022.990234%208.9902344%20z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: transparent;
    margin-left: 20px;
}

.seeAll:hover {
    opacity: .8;
}

/* todo add slider, tmp solution */
.section {
    margin-bottom: 20px;
}

.schedules {
    display: flex;
    margin-left: -10px;
    margin-right: -10px;
    position: relative;
    padding: 0 0 50px 0;
}

.movies {
    flex-wrap: wrap;
    display: flex;
    margin-left: -10px;
    margin-right: -10px;
    position: relative;
    padding: 0 0 50px 0;
    margin-bottom: -20px;
}

/*.row:after {*/
/*    content: '';*/
/*    position: absolute;*/
/*    top: 0;*/
/*    right: 0;*/
/*    width: 200px;*/
/*    height: 100%;*/
/*    background: -moz-linear-gradient(left,  rgba(47,44,54,0) 0%, rgba(47,44,54,1) 100%);*/
/*    background: -webkit-linear-gradient(left,  rgba(47,44,54,0) 0%,rgba(47,44,54,1) 100%);*/
/*    background: linear-gradient(to right,  rgba(47,44,54,0) 0%,rgba(47,44,54,1) 100%);*/
/*    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002f2c36', endColorstr='#2f2c36',GradientType=1 );*/
/*}*/

.item {
    flex: 0 0 33.333%;
    width: 33.333%;
    padding: 0 10px;
}

.schedules .item {
    opacity: .4;
}

.movies .item {
    flex: 0 0 20%;
    width: 20%;
    margin-bottom: 20px;
}

.schedules .item:nth-child(1),
.schedules .item:nth-child(2),
.schedules .item:nth-child(3) {
    opacity: 1
}

.skeleton {
    width: 100%;
    padding-bottom: 62%;
    height: 0;
    border-radius: 8px;
    background-color: var(--lighter-black-color);
    background-image: linear-gradient(
            90deg,
            var(--lighter-black-color) 0px,
            var(--shine-color) 150px,
            var(--lighter-black-color) 300px
    );
    background-size: 1600px;
    animation: shine-card 2000ms infinite linear;
}

.movies .skeleton {
    padding-bottom: 140%;
}

.empty {
    padding: 120px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    background-color: rgba(0, 0, 0, .07);
    color: rgba(255, 255, 255, .3);
    user-select: none;
    flex: 0 0 100%;
    width: 100%;
    border-radius: 8px;
}

@keyframes shine-card {
    0% {
        background-position: -300px
    }
    40%, 100% {
        background-position: 1300px
    }
}

@media screen and (max-width: 1259px) {
    .item {
        flex: 0 0 50%;
        width: 50%;
    }

    .schedules .item:nth-child(3) {
        opacity: .4;
    }

    .movies .item {
        flex: 0 0 25%;
        width: 25%;
    }
}
@media screen and (max-width: 991px) {
    .item {
        flex: 0 0 100%;
        width: 100%
    }

    .schedules .item:nth-child(2),
    .schedules .item:nth-child(3) {
        opacity: .2;
    }

    .movies .item {
        flex: 0 0 33.333%;
        width: 33.333%;
    }
}

@media screen and (max-width: 767px) {
    .movies .item {
        flex: 0 0 50%;
        width: 50%;
    }
}